<h1>All Photos</h1>

<div>
<a href="http://localhost:3000/photos/new">Add a new photo</a>
</div>

<% @list_of_photos.each do |photo| %>

<img src="<%= photo.source %>">
<p>
  <%= photo.caption %>
</p>

<div>
  <a href="http://localhost:3000/photos/<%= photo.id %>">Detail</a>
  <a href="http://localhost:3000/photos/<%= photo.id %>/edit">Edit</a>
  <a href="http://localhost:3000/delete_photo/<%= photo.id %>">Delete</a>
</div>

<% end %>
