
<div>
  <img src="<%= @photo.source %>">
  <p>
    <%= @photo.caption %>
  </p>

<p>
  <%= @photo.created_at %>
</p>
<p>
  <%= time_ago_in_words(@photo.created_at) %>
</p>

  <div>
    <a href="http://localhost:3000/photos/">Back</a>
    <a href="http://localhost:3000/photos/<%= @photo.id %>/edit">Edit</a>
    <a href="http://localhost:3000/delete_photo/<%= @photo.id %>">Delete</a>
  </div>
</div>
